<h1>DCMD Submissions Page <%= link_to "(+)", new_submission_path %>
</h1>
<% @submissions.each do |submission| %>

  <p>
  <%= link_to submission.title, submission_path(submission) %>
</p>
<% end %>
<%= link_to "home", root_path %>
