// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: lemonchicfon;

body {
  color: $primary-color;
}

.body-input {
  background-color: green;
}
